/* background*/
.app{
  height: 100vh;
  background-image: url('./assets/Left\ shadown.png'), url('./assets/Right\ shadows.png');
  background-position: left , right;
  background-repeat: no-repeat, no-repeat;
  background-size: 50vw 100vh;
}

/* card container */
.card-container{
  display: inline-block;
  background-color: rgba(248, 248, 248, 0.6);
  padding: 20px;
  height: 300px;
  width: 50vw;
  border-radius: 30px;
  margin: 0 20px;
  box-sizing:content-box;
  transition: all 0.5s;
  white-space: normal;
}

/* headings and logos */
.title-container{
  display: flex;
  gap: 10px;
}

.heading{
  font-weight:800;
  margin-left: 20px;
}

/* card container wrapper */
.container{
  height: 50%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  position: relative;
  white-space: nowrap;
}

.signup-button {
  margin-top: 20px;
  padding: 16px 35px;
  border: 2px solid #D9D9D9;
  color: #002B5F;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #D9D9D9;
  /* color: rgba(248, 248, 248, 0.3); */
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}